@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Font size 32px aka 2rem */
  --text-base: 2rem;

  /* Fonts 400i, 700, 800i */
  --font-sans: var(--font-poppins-sans);

  /* Primary Colors */
  --color-purple-500: hsl(259, 100%, 65%);
  --color-red-400: hsl(0, 100%, 67%);

  /* Neutral Colors */
  --color-gray-100: hsl(0, 0%, 94%);
  --color-gray-200: hsl(0, 0%, 86%);
  --color-gray-500: hsl(0, 1%, 44%);
}

* {
  /* @apply outline outline-red-400; */
}

body {
  background: var(--color-gray-100);
  color: var(--color-gray-950);
  font-size: var(--text-base);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-poppins-sans), Arial, Helvetica, sans-serif;
}

.label {
  @apply flex flex-col justify-center items-start gap-2;

  span:first-child {
    @apply uppercase text-gray-500 text-[1rem] tracking-widest;
  }

  input {
    @apply w-[calc(5ch+3rem)] px-6 py-2 border border-gray-200 rounded-lg;
    @apply outline-none focus:ring-2 ring-purple-500;
  }

  span.error {
    @apply text-red-400 text-[1rem] font-normal italic;
  }
}
